html,
body,
div,
p,
ul,
h1,
blockquote {
    margin: 0;
    padding: 0;
}

html {
    background: #555 url('../images/footer_lodyas.png');
    color: white;
    font-family: Arial, sans-serif;
    font-size: 0.85rem;
}

h1 {
    font-weight: normal;
    letter-spacing: 1.5px
}

h1, p, ul {
    padding: 5px;
}

blockquote {
    font-size: 0.7rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul {
    margin-left: 20px;
    padding-top: 0;
}

#content {
    background: #CC0000;
    border: 1px solid #a30000;
    margin: 20px auto;
    padding: 5px;
    width: 300px;
}

a {
    color: white;
    display: inline-block;
    margin-bottom: 3px;
}

a:active,
a:focus,
a:hover {
    color: #660000;
}

::selection {
    background: #660000;
    color: #FFF;
}

::-moz-selection {
    background: #660000;
    color: #FFF;
}