html, body, div, p, ul, h1, blockquote { margin: 0; padding: 0; }

        html {
            background: url(../images/bg.jpg) no-repeat center top scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: white;
            font-family: 'Quicksand', sans-serif;
        }

        #content {
            background: #CC0000;
            border: 1px solid #a30000;
            margin: 80px 20px;
            padding-bottom: 50px;
            width: 450px;
        }

        a {
            color: white;
        }

        a:active,
        a:focus,
        a:hover {
            color: #660000;
        }

        h1, p, ul {
            padding: 20px;
        }

        p {
            padding-bottom: 0px;
        }

        h1 {
            font-size: 48px;
            font-weight: normal;
        }

        p, ul {
            font-size: 26px;
        }

        blockquote {
            font-size: 1rem;
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 5px;
            padding-top: 5px;

        }

        ul {
            margin-left: 20px;
            padding-top: 0;
        }

        ::selection {
            background: #660000;
            color: #FFF;
        }

        ::-moz-selection {
            background: #660000;
            color: #FFF;
        }