body {
    background: white url('../img/crossword.png');
}

code {
    background-color: #f0f0f0;
}

a {
  transition: all 0.2s ease-in-out;
}

img.left {
  padding-bottom: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
}

img.right {
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Trebuchet MS', Verdana, sans-serif;
}

.header h1 {
    font-size: 280%;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

    .header h1 a {
        display: block;
    }

    .header h1 small {
        border-top: 1px solid #d8d8d8;
        color: #333333;
        display: inline;
        padding-top: .5rem;
        text-transform: none;
    }

@media screen and (max-width: 590px) {
  html, body {
    font-size: 80%;
  }
  .header h1 {
    font-size: 110%;
    margin-bottom: .5rem;
  }
}

.panel {
    background: #f7f7f7;
    border: 1px solid #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.panel blockquote,
.panel ol,
.panel ul,
.panel p {
    font-size: 130%;
}

.panel li p {
    font-size: inherit;
}


.panel h1 a {
    border-bottom: 1px solid #d8d8d8;
    display: block;
    line-height: 1.45;

}

.panel h1 a:hover {
    border-bottom-color: #990000;
    color: #990000;
}

.panel h1,
.panel h2,
.panel h3,
.panel h4 {
    color: #cc0000;
    padding-bottom: .5rem;
}

.panel h2,
.panel h3,
.panel h4 {
    border-bottom: 1px solid #d8d8d8;
}

.panel h3 {
  border-bottom: 1px solid #E5E5E5
}

.panel h4 {
  border-bottom: 1px solid #F2F2F2
}

pre {
    white-space: pre;
    overflow: auto;
}

.highlight {
    margin: 1rem;
}

.footer,
.pagination {
    text-align: center;
}

  .pagination a {
    background: #cc0000;
  }

.footer {
    margin-bottom: 1rem;
}

.neighbors li {
  font-size: 1rem
}

.neighbors h3 {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  color: #333;
  padding-top: .6rem;
}

.name h1 {
  background: #c00;
  font-size: 16px;
}

.name h1 a {
  font-size: 0.8125rem;
}

.name h1 a:hover {
  background: #AF0000;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 1rem;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}