html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: #FCF7F8;
  color: #353548;
  display: flex;
  line-height: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: #A31621;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #A31621;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

a,
a small,
h1 {
  transition: all 0.2s ease-in-out;
}

nav {
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  flex: 0 0 100%;
  margin-bottom: 2rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
}

nav ul {
  line-height: 30px;
  list-style: none;
  margin: 0;
  margin-left: 2rem;
  padding: 0;
}

nav ul li {
  display: inline-block;
  line-height: 30px;
}

nav ul li a {
  color: #9c9c9c;
  display: block;
  font-size: 0.9rem;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #A31621;
}

nav ul li:nth-child(2) a {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

header {
  flex: 0 1 100%;
}

header h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  header h1 {
    max-width: 50%;
  }
}

header h1 a {
  color: #A31621;
  font-weight: initial;
  text-decoration: none;
}

header h1 a:hover small {
  border-top: 1px solid #A31621;
  color: #A31621;
}

header h1 a small {
  border-top: 1px solid #CED3DC;
  color: #9c9c9c;
  display: block;
  font-size: 1.2rem;
  margin-top: 15px;
  text-transform: initial;
}

footer {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  color: #9c9c9c;
  flex: 1 1 auto;
  margin-top: 2rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin-top: 2rem;
  max-width: 1000px;
  width: 90%;
}

article {
  margin-bottom: 3rem;
}

article,
img {
  max-width: 100%;
}

article h1 {
  border-bottom: 1px solid #CED3DC;
  border-top: 1px solid #CED3DC;
  font-weight: normal;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

article h1:hover {
  border-bottom: 1px solid #A31621;
  border-top: 1px solid #A31621;
}

article h1 a {
  display: block;
  text-decoration: none;
}

pre {
    background: #eee;
    border: 1px solid #ddd;
    overflow: auto;
    padding: 1rem;
    white-space: pre;
}

code {
    background-color: #f0f0f0;
}

table {
  border: 1px solid #CED3DC;
  font-size: .875rem;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  overflow-x: auto;
  display: block;
;
}

@media screen and (min-width: 800px) {
  table {
    display: table;
    table-layout: auto;
    width: auto;
    max-width: 100%
  }
}

th,
tr:nth-of-type(even) {
  background: #f1f1f1;
}

th {
  font-weight: bold;
  padding: .5rem .625rem .625rem;
}

td {
  padding: .5625rem .625rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@media screen and (min-width: 800px) {
  td {

  }
}


img.left {
  padding-bottom: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
}

img.right {
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
}

.center,
.text-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.highlight {
    margin: 1rem;
}

/*body {
    background: white url('../img/crossword.png');
}

code {
    background-color: #f0f0f0;
}

a {
  transition: all 0.2s ease-in-out;
}

img.left {
  padding-bottom: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
}

img.right {
  padding-bottom: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Trebuchet MS', Verdana, sans-serif;
}

.header h1 {
    font-size: 280%;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

    .header h1 a {
        display: block;
    }

    .header h1 small {
        border-top: 1px solid #d8d8d8;
        color: #333333;
        display: inline;
        padding-top: .5rem;
        text-transform: none;
    }

@media screen and (max-width: 590px) {
  html, body {
    font-size: 80%;
  }
  .header h1 {
    font-size: 110%;
    margin-bottom: .5rem;
  }
}

.panel {
    background: #f7f7f7;
    border: 1px solid #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.panel blockquote,
.panel ol,
.panel ul,
.panel p {
    font-size: 130%;
}

.panel li p {
    font-size: inherit;
}


.panel h1 a {
    border-bottom: 1px solid #d8d8d8;
    display: block;
    line-height: 1.45;

}

.panel h1 a:hover {
    border-bottom-color: #990000;
    color: #990000;
}

.panel h1,
.panel h2,
.panel h3,
.panel h4 {
    color: #cc0000;
    padding-bottom: .5rem;
}

.panel h2,
.panel h3,
.panel h4 {
    border-bottom: 1px solid #d8d8d8;
}

.panel h3 {
  border-bottom: 1px solid #E5E5E5
}

.panel h4 {
  border-bottom: 1px solid #F2F2F2
}

pre {
    white-space: pre;
    overflow: auto;
}

.highlight {
    margin: 1rem;
}

.footer,
.pagination {
    text-align: center;
}

  .pagination a {
    background: #cc0000;
  }

.footer {
    margin-bottom: 1rem;
}

.neighbors li {
  font-size: 1rem
}

.neighbors h3 {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  color: #333;
  padding-top: .6rem;
}

.name h1 {
  background: #c00;
  font-size: 16px;
}

.name h1 a {
  font-size: 0.8125rem;
}

.name h1 a:hover {
  background: #AF0000;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin: 1rem;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}*/