{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock %}

{% for article in articles_page.object_list %}
<article>
    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
    Written on {{ article.date.strftime("%b %-d, %Y") }}
    {% if tags %}
    and marked as
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% if article.category %}
    | <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}
    {{ article.content }}
</article>
{% endfor %}
{% include 'pagination.html' %}
{% endblock content %}
