{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock %}

{% for article in articles_page.object_list %}
<article>
    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
    <aside><span>{{ article.date.strftime("%b %-d, %Y") }}</span>
    {% if tags %}
    <span>{% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %} {% endif %}
    {% endfor %}
    </span>
    {% endif %}
    {% if article.category %}
    <span><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
    {% endif %}
    </aside>
    {{ article.content }}
</article>
{% endfor %}
{% include 'pagination.html' %}
{% endblock content %}
