<div class="pagination row">
    {% if DEFAULT_PAGINATION %}
    <div class="large-6 columns">
        {% if articles_page.has_previous() %}
            <a onclick="javascript:_paq.push(['trackEvent', 'Pagination', 'Previous page']);" href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="button card card-1">&laquo; Previous page</a>
        {% endif %}
    </div>
    <div class="large-6 columns">
        {% if articles_page.has_next() %}
            <a onclick="javascript:_paq.push(['trackEvent', 'Pagination', 'Next page']);" href="{{ SITEURL }}/{{ articles_next_page.url }}" class="button card card-1">Next page &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
